<h1 class="p-4">Edit Task</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Update task" %>
  <%= f.check_box :completed %>
  <%= f.label :completed, "Completed" %>
<% end %>

<p><%= link_to 'Back to list', tasks_path, class: "btn btn-outline-primary text-decoration-none" %></p>
